@media (min-width: 576px) and (max-width: 767.98px){
    .tourismgallery {flex: 50%;}
    .destinasigallery {flex: 50%;}
    .destinasigallery .nama a {width: 220px!important; font-size: 22px!important;}
    .judulbanner h1 {font-size: 40px!important;}
}

@media (min-width: 576px) and (max-width: 991.98px) {
    .destinasigallery .nama a {width: 200px!important; font-size: 17px!important;}
    .carousel1 {flex: 50%!important;}
}

@media (max-width: 576px) {
    .destinasigallery .nama a {width: 220px!important; font-size: 22px!important;}
    .judulbanner h1 {font-size: 30px!important;}
}

* {font-family: 'Roboto', sans-serif;}

.tourismgallery .nama {position: absolute; bottom: 40px; left: 30px; font-size: 24px; font-weight: bold; color: white; font-family: 'Patrick Hand', cursive;}
.tourismgallery .jumlah a {position: absolute; bottom: 40px; right: 30px; font-size: 18px; font-weight: bold; color: white; text-decoration: none!important; padding: 5px 10px; background-color: lightseagreen; border-radius: 50px; font-family: 'Patrick Hand', cursive;}

.tourismgallery:hover {transform: translate(0, -10px); transition: 0.5s;}
.tourismgallery:hover a {background-color: crimson; transition: 0.5s;}
.tourismgallery:hover .nama {color: crimson; transition: 0.5s;}
.tourismgallery:not(:hover) {transition: 0.5s;}
.tourismgallery:not(:hover) .nama {transition: 0.5s;}
.tourismgallery:not(:hover) a {transition: 0.5s;}


.morebutton a {padding: 15px 20px; background-color: crimson; border-radius: 5px; color: white; text-decoration: none!important; font-weight: bold;}
.morebutton a:hover {background-color: lightseagreen; transition: 0.5s; color: white;}
.morebutton a:not(:hover) {transition: 0.5s;}

.newsletter {color: white;}

.letterform {padding-bottom: 20px;}
.letterform input {height: 50px; transform: translateY(40%); padding: 0 100px 0 20px;}
.letterform button {position: absolute; top: 26px; right: 22px;}

.kolomfooter a {text-decoration: none!important;}
.kolomfooter h2 a {color: white;}
.kolomfooter h6  {color: white;}

.kolomfooter .icon {margin-top: 30px;}
.kolomfooter .icon i {color: gray; width: 50px; height: 50px; background-color: white; padding-top: 10px; clip-path: circle();}
.kolomfooter .icon a {margin: 0 10px;}
.kolomfooter .icon i:hover {background-color: crimson; color: white;}

.kolomfooter .navbrandfooter i {color: crimson;}

.judul h3 {font-family: cursive; color: crimson; font-weight: bold;}
.listberita a {color: black; font-weight: bold; text-decoration: none!important; font-size: 14px;}
.listberita p {font-size: 12px;}

.listberita a:hover {color: crimson!important;}

.list a {color: black; text-decoration: none!important;}

.homelist a {text-decoration: none!important; color: lightseagreen;}
.homelist a:hover {color: crimson;}
.homelist p {font-size: 14px;}


.backbutton i {color: crimson;}
.backbutton i:hover {color: lightseagreen;}

.judultourism h1 {font-family: 'Pacifico', cursive; color: crimson;}

.judulbanner h1 {font-family: 'Pacifico', cursive; font-size: 60px; font-weight: lighter;}

.kolomkabupaten h2 {color: crimson; font-family: cursive; font-weight: bold;}
.kolomkabupaten .alamat {font-weight: bold;}

.kolomketerangan a {color: crimson;}
.kolomketerangan p {font-size: 14px;}
.kolomketerangan a:hover {color: lightseagreen!important;}

.kolomarea h3 {color: crimson; font-weight: bold;}

.kolomarea p {font-size: 14px;}

.kolomtab a {color: crimson; font-weight: bold;}
.kolomtab a:hover {color: lightseagreen;}

.kolompagination .active a {background-color: crimson!important; border-color: crimson!important; color: white!important;}
.kolompagination a {color: crimson!important;}

.listkategori {font-weight: bold; font-size: 14px;}
.listkategori:hover {color: lightseagreen!important;}
.jumlahkategori {background-color: crimson!important;}

.listkategori:hover .jumlahkategori {background-color: lightseagreen!important;}

.destinasigallery .nama a {position: absolute; bottom: 24px; font-size: 24px; font-weight: bold; color: lightseagreen; font-family: 'Patrick Hand', cursive; text-decoration: none!important; background-color: white; width: 260px; border-top-right-radius: 50px; padding-left: 10px;}

.destinasigallery:hover img {opacity: 60%; transition: 0.5s;}
.destinasigallery:hover .nama a {color: crimson; transition: 0.5s;}
.destinasigallery:not(:hover) img {transition: 0.5s;}
.destinasigallery:not(:hover) .nama a {transition: 0.5s;}


.beritamorebutton a {display: block; padding: 5px 0; background-color: crimson; border-radius: 5px; color: white; text-decoration: none!important; font-weight: bold;}
.beritamorebutton a:hover {background-color: lightseagreen; transition: 0.5s; color: white;}
.beritamorebutton a:not(:hover) {transition: 0.5s;}

.berita a {color: black; font-weight: bold; text-decoration: none!important; font-size: 16px;}
.berita p {font-size: 14px;}

.berita a:hover {color: crimson!important;}

.areanama {font-size: 12px;}
.areanama:hover {color: lightseagreen;}
.destinasinama {font-size: 14px; font-weight: bold;}
.destinasinama:hover {color: crimson;}
.kategorinama {font-size: 12px;}
.kategorinama:hover {color: lightseagreen;}


#button1 {background-color: lightseagreen; position: absolute; top: 40%; left: -10px; clip-path: circle(); padding: 10px;}
#button1 i {color: white; padding: 5px 5px 0 0;}

#button2 {background-color: lightseagreen; position: absolute; top: 40%; right: -10px; clip-path: circle(); padding: 10px;}
#button2 i {color: white; padding: 5px 0 0 5px;}


.carouselimage img {max-height: 450px;}

.listevent a {color: black; font-weight: bold; text-decoration: none!important; font-size: 16px;}
.listevent p {font-size: 14px;}

.listevent a:hover {color: crimson!important;}


.listtravel a {color: black; font-weight: bold; text-decoration: none!important; font-size: 16px;}
.listtravel p {font-size: 14px; font-weight: bold;}
.listtravel span {font-size: 14px; font-weight: bold;}

.listtravel .kabupaten {color: crimson; font-weight: bold; text-decoration: none!important; font-size: 14px;}
.listtravel .kabupaten:hover {color: lightseagreen!important;}

.listtravel a:hover {color: crimson!important;}

.kolomketeranganevent h5 a {color: crimson;}
.kolomketeranganevent p {font-size: 14px;}

.navbrand i {color: crimson;}


.box {max-width: 24.375em; border-radius: 10px; display: block;}
.centerer {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;}